{% if site.data.settings.certificate %}
<!-- certificate -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.certificate-title }}</h2>
      </div>
      {% for certificate in site.data.settings.certificate %}
      <div class="col-lg-3 col-md-4 text-center">
        <img src="{{ site.baseurl }}/assets/images/certificate/{{ certificate.icon }}" alt="{{ site.data.settings.certificate-title }} icon">
        <p class="mb-0">{{ certificate.date }}</p>
        <h4>{{ certificate.name }}</h4>
        <h6 class="text-light">{{ certificate.organization }}</h6>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ./certificate -->
{% endif %}