{% if site.data.settings.stacks %}
<!-- stacks -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.stacks-title }}</h2>
      </div>
      {% for stack in site.data.settings.stacks %}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper" data-color="{{ stack.color }}">
            <div class="wave" data-progress="{{ stack.value }}"></div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">{{ stack.name }} ({{ stack.value }})</h4>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /stacks -->
{% endif %}